
.mypage-content.mypage-default-content
  - if flash[:notice]
    .mypage-flash-notice
      = flash[:notice]  
  .card-box
    .card-box__header.mypage-default-content__header
      %h1.mydate-title
        クレジットカード情報入力
    .card-box__form
      = form_for @user, url: step5_signup_index_path, method: :post do |f|
        = f.fields_for :card do |c|
          .form-group
            %label.user-label カード番号
            %span.form-require 必須
          = c.text_field :customer_id, placeholder:"例) 0123-4567-8999", class:"new-form-default"
          .card-img
            = image_tag "mastercard.png",class:"card-img"
            = image_tag "visa.png",class:"card-img"
            = image_tag "saisoncard.png",class:"card-img"
            = image_tag "jcbcard.png",class:"card-img"
            = image_tag "axcard.png",class:"card-img"
            = image_tag "discover.png",class:"card-img"
            = image_tag "dinersclub.png",class:"card-img"

          .form-group          
            %label.user-label 有効期限
            %span.form-require 必須
            .div
              .mydate-select-box.card-half
                = icon "fas","chevron-down",class:"mydate-select-arrow"
                %select{name:"", type:"text",   class:"select-default-full"}
                  %option{:selected => "selected", :value =>  ""} --
              %span.form-text
                月
              .mydate-select-box.card-half
                = icon "fas","chevron-down",class:"mydate-select-arrow"
                %select{name:"", type:"text",   class:"select-default-full"}
                  %option{:selected => "selected", :value =>  ""} --
              %span.form-text
                年

          .form-group
            %label.user-label セキュリティコード
            %span.form-require 必須
            = c.text_field :ecard_id, placeholder:"カード背面4桁もしくは3桁の番号", class:"new-form-default"
            .text-right
              = icon 'fas','question-circle',class:"form-bottom-text-link"
              = link_to "カード背面裏番号とは？","#",class:"form-bottom-text-link"
          .form-group
            .other-btn.form-next-btn
              = f.submit value: '登録する', class:"user-link"