.bought-content__tab__box#bought-tab1-box
  %ul.bought-content__tab__box__lists
    %li.bought-content__tab__box__lists__item
      %a{ href: '/'}
        %figure
          = image_tag "no_img_icon.png", class:"list-icon"
        .bought-content__tab__box__lists__item__text
          .mypage-item-text
            《速報》今なら販売手数料が実質無料！出品が超お得♪
          .bought-item-status.F-bold.action-required
            受取評価待ち
    %li.bought-content__tab__box__lists__item
      %a{ href: '/'}
        %figure
          = image_tag "no_img_icon.png", class:"list-icon"
        .bought-content__tab__box__lists__item__text
          .mypage-item-text
            《抽選で当たるおトクなクーポン配信中》人気商品が半額以下で買えるかも！？チャンスは1日1回♪
          .bought-item-status.F-bold.action-required
            受取評価待ち
    %li.bought-content__tab__box__lists__item
      %a{ href: '/'}
        %figure
          = image_tag "no_img_icon.png", class:"list-icon"
        .bought-content__tab__box__lists__item__text
          .mypage-item-text
            《抽選で当たるおトクなクーポン配信中》人気商品が半額以下で買えるかも！？チャンスは1日1回♪
          .bought-item-status.F-bold.action-required
            受取評価待ち
    %li.bought-content__tab__box__lists__item
      %a{ href: '/'}
        %figure
          = image_tag "no_img_icon.png", class:"list-icon"
        .bought-content__tab__box__lists__item__text
          .mypage-item-text
            《抽選で当たるおトクなクーポン配信中》人気商品が半額以下で買えるかも！？チャンスは1日1回♪
          .bought-item-status.F-bold.action-required
            受取評価待ち
    %li.bought-content__tab__box__lists__item
      %a{ href: '/'}
        %figure
          = image_tag "no_img_icon.png", class:"list-icon"
        .bought-content__tab__box__lists__item__text
          .mypage-item-text
            「ハンドメイド イヤリング フープ ゴールド 小ぶり こぶり 緑 深緑 秋 エテ」 を購入しました。
          .bought-item-status.F-bold.action-required
            受取評価待ち