.mypage-content__tab__box#mypage-tab2-box
  %ul.mypage-content__tab__box__lists
    %li.mypage-content__tab__box__lists__item
      = link_to "#", class:"user-link login-link" do
        %figure
          = image_tag "no_img_icon.png", class:"list-icon"
        .mypage-content__tab__box__lists__item__text
          .mypage-item-text
            lilyさんから「ハンドメイド イヤリング フープ ゴールド 小ぶり こぶり 緑 深緑 秋 エテ」が発送されました。届いたら内容を確認して、受取評価してください
          %time.mypage-time
            = fa_icon 'clock',class:"mypage-time-icon"
            %span
              3 日前
    %li.mypage-content__tab__box__lists__item
      = link_to "#", class:"user-link login-link" do
        %figure
          = image_tag "no_img_icon.png", class:"list-icon"
        .mypage-content__tab__box__lists__item__text
          .mypage-item-text
            やることリスト
          %time.mypage-time
            = fa_icon 'clock',class:"mypage-time-icon"
            %span
              3 日前