%body
  .mypage-sideber
    %ul.user
      %li.user-info-list
        .user-info-various
          = link_to 'マイページ', user_path(current_user.id)
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to 'お知らせ', notification_path
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to 'やることリスト', todo_path
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to 'いいね！一覧  （未）', '#',class:".products-state"
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to '出品する  （未）', '#'
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to '出品した商品ー出品中  (未)', '#'
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to '出品した商品ー取引中  (未)', '#',class:'user-menu-hover'
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to '出品した商品-売却済み (未)', '#'
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to '購入した商品-取引中', '#'
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to '購入した商品-過去の取引', purchased_path
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to 'ニュース一覧  (未)', '#'
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to '評価一覧  (未)', '#'
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to 'ガイド  (未)', '#'
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to 'お問い合わせ  (未)', '#'
          = icon "fas", "chevron-right",class:"other-icon next-icon"
    %h3.list-name メルペイ
    %ul.user-merpay
      %li.user-info-list
        .user-info-various
          = link_to '売り上げ・振込申請  (未)', '#'
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to 'ポイント  (未)', '#'
          = icon "fas", "chevron-right",class:"other-icon next-icon"
    %h3.list-name 設定
    %ul.user-config
      %li.user-info-list
        .user-info-various
          = link_to 'プロフィール', edit_mypage_path(current_user.id)
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to '発送元・お届け先住所変更', edit_user_address_path(current_user.id, current_user.address.id)
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to '支払い方法', cards_path
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to 'メール/パスワード', edit_user_path(current_user.id)
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to '本人情報', mydate_path
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to '電話番号の確認', authenticate_phone_path
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to 'ログアウト', logout_path
          = icon "fas", "chevron-right",class:"other-icon next-icon"