%body
  .mypage-sideber
    %ul.user
      %li.user-info-list
        .user-info-various
          = link_to 'マイページ', 'mypage'
          = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            お知らせ
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            やることリスト
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a.products-state{:href => "#"}
            いいね！一覧
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            出品する
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            出品した商品ー出品中
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            出品した商品ー取引中
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            出品した商品-売却済み
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            購入した商品-取引中
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a.products-state{:href => "#"}
            購入した商品-過去の取引
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            ニュース一覧
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            評価一覧
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            ガイド
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            お問い合わせ
            = icon "fas", "chevron-right",class:"other-icon next-icon"
    %h3.list-name メルペイ
    %ul.user-merpay
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            売り上げ・振込申請
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            ポイント
            = icon "fas", "chevron-right",class:"other-icon next-icon"
    %h3.list-name 設定
    %ul.user-config
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            プロフィール
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            発送元・お届け先住所変更
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            支払い方法
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            メール/パスワード
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            本人情報
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          %a{:href => "#"}
            電話番号の確認
            = icon "fas", "chevron-right",class:"other-icon next-icon"
      %li.user-info-list
        .user-info-various
          = link_to 'ログアウト', 'logout'
          = icon "fas", "chevron-right",class:"other-icon next-icon"