= render '/items/header'
- breadcrumb :logout
= render "layouts/breadcrumbs"

.mypage_contents
  .logout-content
    .logout-box
      .logout-box__btn
        = link_to "ログアウト", destroy_user_session_path, method: :delete

  = render '/layouts/mypage/user-side'

= render '/items/aside'
= render '/items/footer'