.contents
  .login-content
    .login-box
      .new-box__header
        = image_tag "mrcr-logo.png",class:"login-logo"
      .login-box__signup
        %p.login-text
          アカウントをお持ちでない方はこちら
        = link_to '新規会員登録',"/signup/step1", class:"login-signup-btn login-btn"
      .login-box__other-login
        .other-btn.facebook-btn
          = icon 'fab', 'facebook-square',class:"other-icon facebook-icon"
          = link_to 'Facebookでログイン', "/users/auth/facebook", class:"user-link"
        .other-btn.google-btn.F-black
          = link_to 'Googleでログイン',"/users/auth/google_oauth2", class:"user-link"
      .login-box__form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .login-box__form__group
            = f.email_field :email, autofocus: true, class:'login-form', placeholder:"メールアドレス", value:""
          .login-box__form__group
            = f.password_field :password, autocomplete: "current-password",class:"login-form", placeholder:"パスワード", value:""
          .login-box__form__captcha
            （仮）reCAPTCHA
          .login-box__form__btn
            = f.submit "ログイン", class:"login-send-btn login-btn"
        = link_to 'パスワードをお忘れの方', root_path, class:"user-link login-link"
      .new-box__footer
        .new-box__footer__nav
          %ul
            %li.new-nav-list
              = link_to 'プライバシーポリシー', root_path, class:"user-link"
            %li.new-nav-list
              = link_to 'メルカリ利用規約', root_path, class:"user-link"
            %li.new-nav-list
              = link_to '特定商取引に関する規約', root_path, class:"user-link"
        .new-box__footer__icon
          = image_tag 'mrcr-footer-icon.png',class:"new-footer-icon"
