<header>
  <div class="header-inner">
    <div class="header-top">
      <div class="header-top__logo">
        <a href="/"><img src="https://web-jp-assets.mercdn.net/_next/static/images/logo-acdd90ac4f472d5a6f7a330d33ab1225.svg" width="135px" height="35px"></a>
      </div>
      <div class="header-top__search">
<%# 商品検索 %>
        <div class="search_products">
          <%= form_tag(search_items_path, :method => 'get') do %>
            <%= text_field_tag :search, "",{class: "search_bar", placeholder:"何かお探しですか？"} %>
            <%= button_tag type: "submit", :name => nil do %>
              <i class="fas fa-search "></i>
            <% end %>
          <% end %>
        </div>
<%# ここまで %>
      </div>
    </div>

    <div class="header-bottom">

      <div class="header-bottom__left">              
        <ul class="gnav">
          <%= render partial: 'items/search_category' %>
          <li id="search-brand">
            <a href="#">
              <i class="fas fa-tag fa-fw"></i><span class="search-brand">ブランドから探す</span>
            </a>
            <ul>
              <li class="parent"><a class="parent-a" href="">シャネル</a></li>
              <li class="parent"><a class="parent-a" href="">ナイキ</a></li>
              <li class="parent"><a class="parent-a" href="">ルイヴィトン</a></li>
              <li class="parent"><a class="parent-a" href="">シュプリーム</a></li>
              <li class="parent"><a class="parent-a" href="">アディダス</a></li>
              <li class="parent"><a class="parent-a" href="">ブランド一覧</a></li>
            </ul>
          </li>  
        </ul>
      </div>
      
        <% if current_user %>
          <div class="nav_right">
            <ul class="menu">

              <li class="menu-user"> 
                <a href="/users/sign_out">
                  <i class="fas fa fa-thumbs-up ufas"></i><span class="user_operation">いいね！一覧</span>
                </a>
              </li>

              <li class="menu-user">
                <a href="#">
                  <i class="fas fa fa-bell ufas"></i><span class="user_operation">お知らせ</span>
                </a>
                <ul>
                  <li class="info-list">
                    <%= image_tag('mercari_mark.png', class:'mercari_logo') %>
                    <a href="#">明日、P999還元クーポンの期限が切れます！タップして詳細確認！</a>
                    <i class="fas fa ufas fa-clock-o"></i><span>5時間</span> 
                  
                  </li>
                  <li class="info-list">
                    <%= image_tag('mercari_mark.png', class:'mercari_logo') %>
                    <a href="#">《今なら販売手数料実質無料》詳しくはこちらから♪</a>
                    <i class="fas fa ufas fa-clock-o"></i><span>3時間</span>
                  </li>
                </ul>
              </li>
        
              <li class="menu-user">
                <a href="#">
                 <i class="fas fa fa-check ufas"></i><span class="user_operation">やる事リスト</span>
                </a>
                <ul>
                  <li class="info-list">
                    <%= image_tag('mercari_mark.png', class:'mercari_logo') %>
                    <a href="#">未発送の商品があります。確認して発送してください。</a>
                    <i class="fas fa ufas fa-clock-o"></i><span>3時間</span>
                  </li>
                  <li class="info-list">
                    <%= image_tag('mercari_mark.png', class:'mercari_logo') %>
                    <a href="#">佐竹さんがあなたを評価しました。これで取引完了です。</a>
                    <i class="fas fa ufas fa-clock-o"></i><span>3時間</span>
                  </li>
                </ul>
              </li>
        
              <li id="my_page" class="menu-user">
                <a href="/users/:id">
                    <%= image_tag("#{current_user.image_url}.jpg", class:'nav_icon') %>
                    <span class="user_mypage">マイページ</span>
                </a> 

                <ul class="user-info">
                  <li class="user-info-point">                   
                     <%= image_tag('user-bg.jpg', class: 'user-bg') %>                  
                    <div class="user-detail">
                      <%= image_tag('default_image.jpg', class: 'user-image2') %>
                      <h2 class="user-name"><%= current_user.nickname %></h2>
                      <div class="score">評価：０</div>
                      <div class="have-products">出品数：０</div>
                      <div class="sales-box">
                        <div class="sales">
                          <span class="sales-money">売上金</span>
                        </div>
                        <div class="sales">
                          <span class="sales-money">ポイント</span>
                        </div>
                      </div>
                    </div>
                  </li>

                  <li class="user-info-list">
                    <div class="user-info-various">
                      <a href="">いいね！一覧<span class="blank">ーーーーーーーーーーーーー</span>＞</a>
                    </div>
                  </li>
                  <li class="user-info-list">
                    <div class="user-info-various">
                      <a href="#">出品した商品-出品中<span class="blank">ーーーーーーーーー-</span>＞</a>
                    </div>
                  </li>
                  <li class="user-info-list">
                    <div class="user-info-various">
                      <a href="#">出品した商品-取引中<span class="blank">ーーーーーーーーー-</span>＞</a>
                    </div>
                  </li>
                  <li class="user-info-list">
                    <div class="user-info-various">
                      <a href="#" class="products-state">出品した商品-売却済
                      <span class="blank">ーーーーーーーーー-</span>＞</a>
                    </div>
                  </li>
                  <li class="user-info-list">
                    <div class="user-info-various">
                      <a href="/mypage/purchase" class="products-state">購入した商品-取引中
                      <span class="blank">ーーーーーーーーー-</span>＞</a>
                    </div>
                  </li>
                  <li class="user-info-list">
                    <div class="user-info-various">
                      <a href="/mypage/purchased" class="products-state">購入した商品-取引中
                      <span class="blank">ーーーーーーーーー-</span>＞</a>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        <% else %>
         <div class="header-bottom__right">
            <div>
              <div>
                <a href="/signup/step0" class="user_sign_up">新規会員登録</a> 
              </div>
              <div>
                <a href="/users/sign_in" class="user_sign_in">ログイン</a> 
              </div>
            </div>
          </div>
        <%end%>
        
    </div> 
  </div>
</header>