<%= render partial: 'header' %>
<% if flash[:notice] %>
<%=  flash[:notice] %>
<% end %>

  <div id="slick_container">
    <ul id="mainSlide">
      <li><%= image_tag 'slide-1' %></li>
      <li><%= image_tag 'slide-2' %></li>
      <li><%= image_tag 'slide-3' %></li>
    </ul>
    <div id="arrows">
      <div class="slick-next">
        <%= image_tag 'carousel-next.png' %>
      </div>
      <div class="slick-prev">
        <%= image_tag 'carousel-prev.png' %>
      </div>
    </div>
  </div>

  <div class="popular_categories">
    <div class="popular_categories_head">
      <h2>人気のカテゴリー</h2>
    </div>
    <div class="categories">
      <ul class="categories-lists">
        <li>
          <a class="-btn -bg -txt" href="#">レディース</a>
        <li>
          <a class="-btn -bg -txt" href="#">メンズ</a>
        </li>
        <li>
          <a class="-btn -bg -txt" href="#">家電・スマホ・カメラ</a>
        </li>
        <li>
          <a class="-btn -bg -txt" href="#">おもちゃ・ホビー・グッズ</a>
        </li>
      </ul>
    </div>
  </div>

  <div class="main">
    <div class="container">
      <div class="heading">
        <h3>レディース新着アイテム</h3>
        <a href="#" class="more">もっと見る<span><i class="fas fa-angle-right"></i></span></span></a>
      </div>
        <ul id="flex-container">
          <% @ladies_items.preload(:images).each do |item| %>
              <%= render 'item_boxes', item: item %>
          <% end %>
        </ul>  
    </div>
  </div>

  <div class="main">
    <div class="container">
      <div class="heading">
        <h3>メンズ新着アイテム</h3>
        <a href="#" class="more">もっと見る<span><i class="fas fa-angle-right"></i></span></span></a>
      </div>
        <ul id="flex-container">
          <% @mens_items.preload(:images).each do |item| %>
              <%= render 'item_boxes', item: item %> 
          <% end %>
        </ul>  
    </div>
  </div>
</div>

<div class="popular_categories">
  <div class="popular_categories_head">
    <h2>人気のブランド</h2>
  </div>
  <div class="categories">
    <ul class="categories-lists">
      <li>
        <a class="-btn -bg -txt" href="#">シャネル</a>
      <li>
        <a class="-btn -bg -txt" href="#">ルイヴィトン</a>
      </li>
      <li>
        <a class="-btn -bg -txt" href="#">シュプリーム</a>
      </li>
      <li>
        <a class="-btn -bg -txt" href="#">ナイキ</a>
      </li>
    </ul>
  </div>
</div>

<div class="main">
  <div class="container">
    <div class="heading">
      <h3>シャネル新着アイテム</h3>
      <a href="#" class="more">もっと見る<span><i class="fas fa-angle-right"></i></span></span></a>
    </div>
      <ul id="flex-container">
          <% @syaneru.preload(:images).each do |item| %>
              <%= render 'item_boxes', item: item %> 
          <% end %>
      </ul>  
  </div>
</div>

<%= render partial: 'aside' %>
<%= render partial: 'footer' %>
<%= render partial: 'sell_btn' %>
