<div class="lower-message">
  <%= image_tag @image.image, class: 'lower-messageimage' if @image.image.present? %>
</div>

<div class="form">
  <%= form_for [@image] do |f| %>
    <div class="formmask">
      <%= f.label :image, class: 'formmaskimage' do %>
        <%= fa_icon 'picture-o', class: 'icon' %>
        <%= f.file_field :image, class: 'hidden' %>
      <% end %>
    </div>
    <%= f.submit 'Send', class: 'form__submit' %>
  <% end %>
</div>